
body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; z-index:-1}

.search {
    position:absolute;
    top:0;
    right: 0;
    padding:20px;
}

.results-list {
    position:absolute;
    top: 20px;
    left: 20px;
    padding: 20px;
    background-color: lightgrey;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

footer {
    position:absolute;
    bottom:0;
    left: 0;
    width:100%;
    padding:20px;
}
